<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 py-5 card text-center text-white bg-primary border-light my-4">
            <h3 class="my-auto">
                <p>Saldo Disponible</p>
                <div class="dropdown-divider"></div>
                <i class="fa-solid fa-wallet"></i> 
                ${{saldo.saldo}}
            </h3>
        </div>

        <div  class="col-md-4 float-right p-4 card text-white bg-primary border-light  my-4">
            <h3>
                <div class="text-white text-center">
                    
                    <div><h2>FILTRAR</h2></div>
                    <div class="dropdown-divider"></div>
                    <div><a href="/moves/ingresos/" class="text-white text-center"><i class="fa-solid fa-arrow-left"></i> Ingresos</a> </div>
                    <div class="dropdown-divider"></div>
                    <div><a href="/moves/egresos/" class="text-white text-center"><i class="fa-solid fa-arrow-right"></i> Egresos</a> </div>
                    <div class="dropdown-divider"></div>
                    <div><a href="/moves/" class="btn btn-primary border-light text-center"> Quitar Filtro <i class="fa-solid fa-xmark"></i></a></div>
                
                </div>
            </h3>  
        </div>
    </div>
</div> 

<div class="operaciones text-center text-white mt-3 col-md-8 mx-auto border">
    
        <a href="/moves/" class="text-white"> ULTIMAS 10 OPERACIONES <i class="fa-solid fa-clock"></i></a>   | 
        <a href="/moves/todas" class="text-white">TODAS LAS OPERACIONES <i class="fa-solid fa-list"></i> </a>
    
</div>

<div class="container p-4">
    <div class="row"> 
        {{#each moves}}
            <div class="col-md-3">
                <div class="card text-center text-white border-light bg-dark mt-3">
                    <div class="card-body">
                            <h5 class="card-title text-uppercase">
                                {{concepto}}
                            </h5>
                            <div class="dropdown-divider"></div>
                            <p class="m-2"> ${{monto}} </p>
                            
                            <p>{{fecha}}</p>
                            
                            <p>  {{tipo}} </p> 
                            <div class="dropdown-divider"></div>
                            <div>
                                <a href="/moves/edit/{{ID}}" class="btn btn-secondary border-light mx-2">Editar <i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/moves/delete/{{ID}}" class="btn btn-danger border-light">Borrar <i class="fa-solid fa-xmark"></i></a>
                            </div>
                    </div>
                </div>
            </div>

        {{else}}

            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay operaciones registradas.</p>
                    <a href="moves/add">Realiza una operacion!</a>
                </div>
            </div>
                
        {{/each}}
    </div>
   
</div>

<!-- Footer -->


<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="bg-dark text-white text-center py-1 mt-2 mx-auto"> 
        <p> Hecho por: Manuel Bautista 😎 👉 <a href="http://cvbautista.pythonanywhere.com/">  CV (desactualizado) </a> </p>
      </div>
  </nav>
</footer>